---
- name: Déployer des VMs depuis Netbox vers Proxmox
  hosts: localhost
  gather_facts: false
  vars:
    # Configuration Proxmox
    proxmox_api_host: "{{ proxmox_api_host | default('10.0.20.50') }}"
    proxmox_api_user: "{{ proxmox_api_user | default('root@pam') }}"
    proxmox_api_token_id: "{{ proxmox_api_token_id | default('One') }}"
    proxmox_api_token_secret: "{{ proxmox_api_token_secret }}"
    
    # Configuration Netbox - utiliser IP directement si DNS ne fonctionne pas
    netbox_url: "{{ netbox_url | default('https://10.0.20.11') }}"
    netbox_token: "{{ netbox_token }}"
    
    # Filtres optionnels
    netbox_tag: "{{ netbox_tag | default('') | trim }}"
    vm_name: "{{ vm_name | default('') | trim }}"

  tasks:
    - name: Détecter le nœud Proxmox automatiquement
      uri:
        url: "https://{{ proxmox_api_host }}:8006/api2/json/nodes"
        method: GET
        headers:
          Authorization: "PVEAPIToken={{ proxmox_api_user }}!{{ proxmox_api_token_id }}={{ proxmox_api_token_secret }}"
        validate_certs: no
        status_code: 200
      register: proxmox_nodes

    - name: Définir le nom du nœud Proxmox
      set_fact:
        proxmox_node: "{{ proxmox_nodes.json.data[0].node }}"

    - name: Construire l'URL de l'API Netbox
      set_fact:
        netbox_api_url: "{{ netbox_url }}/api/virtualization/virtual-machines/{% if vm_name | length > 0 %}?name={{ vm_name }}{% elif netbox_tag | length > 0 %}?tag={{ netbox_tag }}{% endif %}"

    - name: Récupérer les VMs depuis Netbox
      uri:
        url: "{{ netbox_api_url }}"
        method: GET
        headers:
          Authorization: "Token {{ netbox_token }}"
          Accept: "application/json"
        validate_certs: no
        status_code: 200
      register: netbox_vms_response

    - name: Extraire les VMs de la réponse Netbox
      set_fact:
        netbox_vms: "{{ netbox_vms_response.json.results | default([]) }}"

    - name: Vérifier que des VMs ont été trouvées
      fail:
        msg: "Aucune VM trouvée dans Netbox."
      when: netbox_vms | length == 0

    - name: Afficher les VMs trouvées
      debug:
        msg: "VMs trouvées : {{ netbox_vms | map(attribute='name') | list }}"

    - name: Créer les VMs sur Proxmox
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
        node: "{{ proxmox_node }}"
        name: "{{ item.name }}"
        vmid: "{{ item.custom_fields.vmid | default(omit) }}"
        memory: "{{ (item.memory | default(2048)) | int }}"
        cores: "{{ (item.vcpus | default(2)) | int }}"
        sockets: "{{ (item.vcpus | default(2)) | int }}"
        net:
          net0: "virtio,bridge=vmbr0"
        scsihw: virtio-scsi-pci
        scsi:
          scsi0: "local-lvm:{{ ((item.disk | default(20480)) / 1024) | int }},format=raw"
        ostype: l26
        state: present
      loop: "{{ netbox_vms }}"
      loop_control:
        label: "{{ item.name }}"
      register: vm_creation_result

    - name: Afficher le résultat de la création
      debug:
        msg: "VM {{ item.item.name }} : {{ item.changed | ternary('créée/modifiée', 'déjà existante') }}"
      loop: "{{ vm_creation_result.results }}"
      loop_control:
        label: "{{ item.item.name }}"
